.post-footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
}


.post-actions {
  display: flex;
  align-items: end;
}

.action-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

.delete-button {
  background-color: #dc3545;
}

.action-button:hover {
  background-color: #0056b3;
}

.delete-button:hover {
  background-color: #c82333;
}